{% trans_default_domain 'FOSUserBundle' %}

<div class="d-flex flex-column">
    <div class="center">
        <img class="login-logo" src="{{ asset('build/images/logo.png') }}" alt="">
    </div>
    <div>
    <div class="d-flex login-tags justify-content-between">
        <p class="sign-in-tag greyed-out"><a href="{{ path('fos_user_security_login') }}">Sign in</a></p>
        <p class="">Register</p>
    </div>
    <div class="arrow-up-register"></div>
    <div class="login-form mt-0">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        <div class="form-group ml-4">
            {{ form_widget(form.email) }}
        </div>

        <div class="form-group ml-4">
            {{ form_widget(form.username) }}
        </div>

        <div class="form-group ml-4">
            {{ form_widget(form.plainPassword.first) }}
        </div>

        <div class="form-group ml-4">
            {{ form_widget(form.plainPassword.second) }}
        </div>
        <input class="btn btn-primary sign-in-button" type="submit" value="{{ 'registration.submit'|trans }}"/>
    </div>
    {{ form_end(form) }}
    </div>
</div>

