{% extends 'base.html.twig' %}

{% block title %}4TheCubers{% endblock %}

{% block body %}
    </head>
    <body>
    <div class="sidenav">
        <div class="d-flex justify-content-center">
            <img src="{{ asset(user.profilePicture )}}" alt="" class="profile-picture">
        </div>

        <div class="d-flex justify-content-center">
            <div class="profile-name">{{ user.username }}</div>
        </div>

        <div class="d-flex">
            <div class="nav-not-highlight"></div>
            <a class="d-flex" href="{{ path('dashboard') }}"><img class="nav-icon home-icon"
                                                                  src="{{ asset('build/images/home.png') }}" alt="">Dashboard</a>
        </div>
        <div class="d-flex">
            <div class="nav-highlight"></div>
            <a href="#" class="active"><img class="nav-icon" src="{{ asset('build/images/stats.png') }}" alt="">Statistics</a>
        </div>
        <div class="d-flex">
            <div class="nav-not-highlight"></div>
            <a href="{{ path('friends') }}" class="notification-container"><img class="nav-icon" src="{{ asset('build/images/friends.png') }}" alt="">Friends{% if amountOfRequest > 0 %}<div class="notification-counter">{{ amountOfRequest }}</div> {% endif %}</a>
        </div>
        <div class="d-flex">
            <!-- Button trigger modal -->
            <button type="button" class="btn settings-button" data-toggle="modal" data-target="#myProfileModal">
                <div class="nav-not-highlight"></div>
                <img class="nav-icon" src="{{ asset('build/images/settings.png') }}" alt="">Profile</button>
        </div>
        <div>
            <a class='btn logout-button' href="/logout">Logout</a>
        </div>

    </div>
    <div class="d-flex justify-content-between top">
        <h2>Statistics</h2>
        <h1 class="title">4TheCubers.<span class="title-span">net</span></h1>
    </div>
    <div class="main">

        <div class="messages"></div>
        <div class="stats-left-container">
            <h2 class="stats-title">Your Statistics</h2>
            <table class="table table-sm table-bordered mt-3 datatable">
                <thead>
                <tr>
                    <th>
                        time
                    </th>
                    <th>
                        type
                    </th>
                    <th>
                        scramble
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for solve in allStats %}

                    <tr>
                        <td>
                            {% if solve.time is null %}
                                DNF
                            {% else %}
                                {{ solve.time }}
                            {% endif %}
                        </td>
                        <td>
                            {{ solve.type }}
                        </td>
                        <td>
                            {{ solve.scramble }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <!--Profile Modal -->
    <div class="modal fade" id="myProfileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            {{ form_start(profileForm, { attr: {novalidate: 'novalidate'} }) }}
            <div class="modal-content profile-modal-content">
                <div class="text-center modal-header profile-modal-header d-flex justify-content-center">
                    <h3 class="edit-profile-title">Edit your profile</h3>
                </div>

                <div class="modal-body profile-modal-body">
                    <div class="edit-profile-header">
                        <div class="profile-pic-div">
                            <img src="{{ asset(user.profilePicture )}}" alt="" class="profile-pic-settings">
                        </div>

                        <label class="btn input-file-button">
                            <i class="fa fa-image"></i> Upload new image{{ form_row(profileForm.profilePicture) }}
                        </label>
                    </div>

                    <div class="edit-profile-inputs">
                        <p class="label">Username</p>
                        {{ form_row(profileForm.username) }}
                        <p class="label">Email</p>
                        {{ form_row(profileForm.email) }}
                        {{ form_row(profileForm.submit) }}
                    </div>

                </div>
                <div class="modal-footer profile-modal-footer">

                </div>
            </div>
            {{ form_end(profileForm) }}
        </div>
    </div>
    </body>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function () {
            $('.datatable').DataTable({
                "lengthChange": false
            });

        } );
    </script>
{% endblock %}
